<div class="container">
  <div class="row">
    <a class="btn btn=primary" routerLink="/list">Regresa a la Pokedex</a>
  </div>
  <div>
    <div class="form-group">
      <label>Nombre</label>
      <div class="form-control">{{singlePoke.nombre}}</div>
    </div>
    <div class="form-group">
      <label>Tipo</label>
      <div class="form-control">{{singlePoke.tipo}}</div>
    </div>
    <div class="form-group">
      <label>Grupo Huevo</label>
      <div class="form-control">{{singlePoke.grupoHuevo}}</div>
    </div>
  </div>
</div>